.body{
    display:flex;
    flex-direction:column;
}

.header,.footer{
    background-color: #1F2937;
    display:flex;
    flex-direction:column;
}
.top{
    display:flex;
    flex:1 1 auto;
    align-items:center;
}
#Logo{
    color: #F9FAF8;
    font-size:24px;
    display:flex;
}
.headerlinks{
    color:#E5E7EB;
    font-size:18px;
    margin-left:auto;
    display:flex;
    justify-content:space-between;
    text-decoration: none;
}
a{
    list-style-type: none;
}

.herocontainer{
    display:flex;
}
.header h1{
    color: #F9FAF8;
    font-size:48px;
    font-weight:bolder; 
}
.subtext{
    color:#E5E7EB;
    font-size:18px;
}
.header button{
    background-color:#3882F6;
    color:#E5E7EB;
}
.header img {
    size:100px;
    display:flex;
}

.info-section{
    
}
.info-section h1{
    color:#1F2937;
    font-size:36px;
    font-weight:bolder;
}
.info-section {
    color:#3882F6;
}
.info-section div{ /*images with additional text*/

}

.quote-section{
    background-color:#E5E7EB;
    font-size:36px;
    font-style:"light italic";
    color:#1F2937
    

}
.call-to-action{
    background-color:#3882F6;
    color:#E5E7EB;
}
.call-to-action button{
    background-color:#3882F6;
    color:#E5E7EB;
    border-color:#E5E7EB;
}

.footer{
    color:#F9FAF8;
    margin-top:auto;
}

/*Add images, use flex, add index.html*/